* {
    box-sizing: content-box;
}
body { margin: 0 auto;
    background-color: rgb(32, 30, 30);
}
.contenerdorglobal {border: black 2px;
    margin: 0 auto;
    max-width: 1440px;
}

.contenedorheader {
    background-image: url(img/fondokobe.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}
.logo {
    display: flex;
    justify-content: space-between;
    font-family: Helvetica;
    font-style: italic;
    font-weight: bold;
    font-size: 36px;
    color: #efb810;
    -webkit-text-stroke: 2px black;
    border-bottom: #B92424 2px solid;
}

.logo h1 {
    line-height: 126px;
    padding-right: 50px;
    color: goldenrod;
}
.logo img {
    vertical-align: middle;
    width: 90px;
    padding-left: 60px;
    padding-top: 15px;
}
/*-------------------------------------------------------------------------*/
nav {
    background-color: #56258346;
}
.navegador {
    font-style: italic;
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-right: 40px;
    margin-bottom: 0px;
    margin-top: 0px;
}
.navegador li a{
    margin: 0px 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:23px;
    -webkit-text-stroke: 2px black;
    font-weight: 900;
    text-decoration: none;
    list-style-type: none;
    color: white;
}

.navegador li a:hover {
    background-color:  #552583;
}
/*-------------------------------------------------------------------------*/
.top10 ul { 
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    text-align: center;
    padding-inline-start: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-top: #B92424 solid 2px;
}

.top10 ul li { 
    width: 144px;
    height: 323px;
    border: solid black 0.8;
    list-style: none; 
   
}
.top10 ul li a { 
    text-decoration: none;
}

.top10 ul li a:visited { 
    color: currentColor;
}
.top10 ul li a p{ 
    text-decoration-color: red;
}
.top10 ul li:hover {
    width: 220px;
    height: 380px;
    background-size: cover;
    transition: .5s;
    z-index: 9000;
}

.jordan1:hover {outline: #B92424 solid 2px ; }
.lebron1:hover {outline:#000000 solid 2px ; }
.kareem1:hover {outline: #FDB927 solid 2px ; }
.russel1:hover {outline: #007A33 solid 2px ; }
.magic1:hover {outline: #FDB927 solid 2px ; }
.wilt1:hover {outline:  #552583 solid 2px ; }
.bird1:hover {outline:#007A33 solid 2px ; }
.duncan1:hover {outline: #000000 solid 2px ; }
.kobe1:hover {outline: #FDB927 solid 2px ; }
.oneal1:hover {outline: #FDB927 solid 2px ; }

.top10 ul li p {
    font-family: Helvetica;
    font-style: italic;
    font-weight: bold;
    font-size: 22px;
    padding-top: 220px;
}

.jordan1 { background-image: url(img/top10/jordan.jpg); color:	white; -webkit-text-stroke: 1px black;}
.lebron1 { background-image: url(img/top10/lebron.jpg); color: white; -webkit-text-stroke: 1px black; }
.kareem1 { background-image: url(img/top10/kareem.jpg); color: #552583; -webkit-text-stroke: .2px white;}
.russel1 { background-image: url(img/top10/russell.jpg); color: #007A33;-webkit-text-stroke: 1px black; }
.magic1 { background-image: url(img/top10/magic.jpg); color: #552583; -webkit-text-stroke: .1px white;}
.wilt1 { background-image: url(img/top10/Chamberlain.jpg); color: #FDB927;-webkit-text-stroke: 1px black; }
.bird1 { background-image: url(img/top10/bird.jpg); color: white ; -webkit-text-stroke: 1px black;}
.duncan1 { background-image: url(img/top10/duncan.jpg); color:#c4ced4; -webkit-text-stroke: 1px black;}
.kobe1 {  background-image: url(img/top10/kobe.jpg); color: #552583; -webkit-text-stroke: .2px white;}
.oneal1 { background-image: url(img/top10/oneal.jpg); color: #552583;-webkit-text-stroke: .2px white; }
/*-------------------------------------------------------------------------*/

.separador {
    background-image: url(img/halloffame.jpg);
    border: black 2px solid;
    width:99.8%;
    height: 310px;
    margin: 0;
    padding: 0;
}
.separador h1 {
    text-align: center;
    margin-top: 100px;
    color: #efb810;
    -webkit-text-stroke: 5px black;
    font-family: Helvatica, sans-serif;
    font-size: 104px;
    font-style: italic;
    font-weight: bold;
}
/*-------------------------------------------------------------------------*/

/* Estilo de stats para las fichas (Reutilizables) */
.stats {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.stats_box {
    width: 165px;
    height: 92px;
    margin: 25px 10px;
    background-color:white;
    border: solid black 2px;
    border-radius: 22px;
    box-shadow: gray 5px 5px;
}
.stats_box h3 {
    text-align: center;
    margin: 0 0;
    padding: 5px 5px;
    background-color:#B7031F ;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-family: Helvetica, sans-serif;
}

.stats_box h4 {
    text-align: center;
    font-family: Helvetica, sans-serif;
}
/*-------------------------------------------------------------------------*/
/*Michael Jordan */
.jordan_contenedor {
    display: flex;
    justify-content: space-between;
    border: black 2px solid;
}

#bulls_logo  {
    width:50%;
    height: 459px;
    background-image: url(img/indexlogos/chicagobulls.png);
    border-left: none;
}
#desc_jordan { 
    width:50%;
    height: 459px;
    background: rgb(184,2,25);
    background: linear-gradient(90deg, rgba(184,2,25,1) 0%, rgba(7,26,33,1) 64%);
    border-right: none;
}
#desc_jordan h2{
    text-align: center;
    color: #B7031F;
    -webkit-text-stroke: 1px black;
    font-family: Helvatica, sans-serif;
    font-size: 48px;
    font-style: italic;
    font-weight: bold;
}

/* Lebron James */
.lebron_contenedor {
    display: flex;
    justify-content: space-between;
}

#heat_logo  {
    width:50%;
    height: 459px;
    border: black 2px solid; 
    border-right: none;
    background-image: url(img/indexlogos/miami_heat.jpg);
}
#desc_lebron { 
    width:50%;
    height: 459px;
    border: black 2px solid; 
    border-left: none;
    background: rgb(7,26,33);
    background: linear-gradient(90deg, rgba(7,26,33,1) 48%, rgba(255,255,255,1) 100%);
}
#desc_lebron h2{
    text-align: center;
    color: black;
    -webkit-text-stroke: 1px red;
    font-family: Helvatica, sans-serif;
    font-size: 48px;
    font-style: italic;
    font-weight: bold;
}
/*-------------------------------------------------------------------------*/
/* Kareem Abdul-jabbar */

.kareem_contenedor {
    display: flex;
    justify-content: space-between;
}

#kareem_lakers_logo  {
    width:50%;
    height: 459px;
    border: black 2px solid; 
    border-left: none;
    background-image: url(img/indexlogos/kareem_lakers.jpg);
}
#desc_kareem { 
    width:50%;
    height: 459px;
    border: black 2px solid; 
    border-right: none;
    background: rgb(253,185,39);
    background: linear-gradient(90deg, rgba(253,185,39,1) 0%, rgba(7,25,35,1) 64%);
}
#desc_kareem h2{
    text-align: center;
    color: #FDB927;
    -webkit-text-stroke: 1px black;
    font-family: Helvatica, sans-serif;
    font-size: 48px;
    font-style: italic;
    font-weight: bold;
}
/*-------------------------------------------------------------------------*/
/*Bill Russel*/
.russel_contenedor {
    display: flex;
    justify-content: space-between;
}

#russel_celtics_logo  {
    width:50%;
    height: 459px;
    border: black 2px solid; 
    background-image: url(img/indexlogos/russel_celtics.jpg);
    border-right: none;
}
#desc_russel { 
    width:50%;
    height: 459px;
    border: black 2px solid; 
    background: rgb(7,26,33);
    background: linear-gradient(90deg, rgba(7,26,33,1) 48%, rgba(0,122,51,1) 100%);
    border-left: none;
}
#desc_russel h2{
    text-align: center;
    color: #007A33;
    -webkit-text-stroke: 1px black;
    font-family: Helvatica, sans-serif;
    font-size: 48px;
    font-style: italic;
    font-weight: bold;
}
/*-------------------------------------------------------------------------*/
/*Magic Johnson*/
.magic_contenedor {
    display: flex;
    justify-content: space-between;
}

#magic_lakers_logo  {
    width:50%;
    height: 459px;
    border: black 2px solid; 
    background-image: url(img/indexlogos/magic.jpg);
    border-left: none;
}
#desc_magic { 
    width:50%;
    height: 459px;
    border: black 2px solid;
    border-right: none;
    background: rgb(253,185,39);
    background: linear-gradient(90deg, rgba(253,185,39,1) 0%, rgba(7,25,35,1) 64%);

}
#desc_magic h2{
    text-align: center;
    color: #FDB927;
    -webkit-text-stroke: 1px black;
    font-family: Helvatica, sans-serif;
    font-size: 48px;
    font-style: italic;
    font-weight: bold;
}
/*-------------------------------------------------------------------------*/
/*Wilt Chamberlain*/
.wilt_contenedor {
    display: flex;
    justify-content: space-between;
}

#wilt_76_logo  {
    width:50%;
    height: 459px;
    border: black 2px solid; 
    background-image: url(img/indexlogos/wilt_76.jpg);
    border-right: none;
}
#desc_wilt { 
    width:50%;
    height: 459px;
    border: black 2px solid;
    background: rgb(7,26,33);
    background: linear-gradient(90deg, rgba(7,26,33,1) 48%, rgba(33,63,127,1) 100%);
    border-left: none;
}
#desc_wilt h2{
    text-align: center;
    color: #FDB927;
    -webkit-text-stroke: 1px black;
    font-family: Helvatica, sans-serif;
    font-size: 48px;
    font-style: italic;
    font-weight: bold;
}
/*-------------------------------------------------------------------------*/
/*Larry Bird*/
.bird_contenedor {
    display: flex;
    justify-content: space-between;
}

#bird_logo  {
    width:50%;
    height: 459px;
    border: black 2px solid; 
    background-image: url(img/indexlogos/bird_celtics.jpg);
    border-left: none;
}
#desc_bird { 
    width:50%;
    height: 459px;
    border: black 2px solid;
    background: rgb(0,122,51);
    background: linear-gradient(90deg, rgba(0,122,51,1) 0%, rgba(7,26,33,1) 64%);
    border-right: none;
}
#desc_bird h2{
    text-align: center;
    color: #FDB927;
    -webkit-text-stroke: 1px black;
    font-family: Helvatica, sans-serif;
    font-size: 48px;
    font-style: italic;
    font-weight: bold;
}
/*-------------------------------------------------------------------------*/
/*Tim Duncan*/
.duncan_contenedor {
    display: flex;
    justify-content: space-between;
}

#duncan_logo  {
    width:50%;
    height: 459px;
    border: black 2px solid; 
    background-image: url(img/indexlogos/duncan.png);
    border-right: none;
}
#desc_duncan { 
    width:50%;
    height: 459px;
    border: black 2px solid;
    border-left: none;
    background: rgb(7,26,33);
    background: linear-gradient(90deg, rgba(7,26,33,1) 48%, rgba(255,255,255,1) 100%);
}
#desc_duncan h2{
    text-align: center;
    color: #FDB927;
    -webkit-text-stroke: 1px black;
    font-family: Helvatica, sans-serif;
    font-size: 48px;
    font-style: italic;
    font-weight: bold;
}
/*-------------------------------------------------------------------------*/
/*Kobe Bryant*/ 
.kobe_contenedor {
    display: flex;
    justify-content: space-between;
    background: rgb(253,185,39);
    background: linear-gradient(90deg, rgba(253,185,39,1) 39%, rgba(7,25,35,1) 98%);
}

#kobe_lakers_logo  {
    width:50%;
    height: 459px;
    border: black 2px solid; 
    border-left: none;
    background-image: url(img/indexlogos/kobelakers.jpg);
}
#desc_kobe { 
    width:50%;
    height: 459px;
    border: black 2px solid;
    border-right: none;
    background: rgb(253,185,39);
    background: linear-gradient(90deg, rgba(253,185,39,1) 0%, rgba(7,25,35,1) 64%);
}


#desc_kobe h2{
    text-align: center;
    color: #FDB927;
    -webkit-text-stroke: 1px black;
    font-family: Helvatica, sans-serif;
    font-size: 48px;
    font-style: italic;
    font-weight: bold;
}
/*-------------------------------------------------------------------------*/
/*Shaquille O'Neal*/
.oneal_contenedor {
    display: flex;
    justify-content: space-between;
}

#oneal_lakers_logo  {
    width:50%;
    height: 459px;
    border: black 2px solid; 
    background-image: url(img/indexlogos/oneal.jpg);
    border-right: none;
}
#desc_oneal { 
    width:50%;
    height: 459px;
    border: black 2px solid;
    background: rgb(7,25,35);
    background: linear-gradient(90deg, rgba(7,25,35,1) 41%, rgba(253,185,39,1) 99%);
    border-left: none;
}
    
#desc_oneal h2{
    text-align: center;
    color: #FDB927;
    -webkit-text-stroke: 1px black;
    font-family: Helvatica, sans-serif;
    font-size: 48px;
    font-style: italic;
    font-weight: bold;
}